i {
    min-width: 14px;
}

img {
    max-width: 100%;
}

#nav-icon {
        min-width: 50px;
    }

#map-icon {
    min-width: 50px;
    max-width: 100px;
}

#userInfo {
    float: right;
}

#updatePhoto {
    text-align: center;
    margin: 5px;
}

.nav {
    padding: 0 10px 0 10px;
    
    span {
    display: block;
    }
}

.customOverlay {

    border: 3px solid red;

    .customOverlayText {
        font-size: 12px;
        font-family: "Helvetica Neue Light", sans-serif;
        padding: 0;
        margin: 3px;
    }
}


