$nav-clr: #160A20;

#viewContent {
    height: 68vh;
    padding-top: 0.5em;
    padding-bottom: 0.1em;
}

body {
    font-size: 14pt;
    font-family: Helvetica, sans-serif;
}

h1 .panelTitle > a{
    padding-right: 80vw;
}

a {
    color: $nav-clr;
}

img {
    max-width: 100%;
}

#nav-icon {
        min-width: 70px;
        max-width: 100px;
    }

#userInfo {
    float: right;
}

#missionInfo {
    float: right;
}

#updatePhoto {
    text-align: center;
    margin: 5px;
}

.nav {
    font-size: 14pt;
    margin-top: 8vh;
    height: 22vh;
    
    span {
    display: block;
    }
}

.well {
    margin-top: 0.1vh;
    padding: 0;
    padding-top: 0.9vh;
    margin-bottom: 0;
    > div {
        padding: 0 1em 1em 1em;
    }
}

.loginPage {
    margin-top: 20vh;
}



button > span {
    padding-left: 0.5em;
}

#msgInfo {
    margin-left: 5px;
}

#msgAuthor:hover {
    cursor: pointer;
}

#recipient {
    margin-bottom: 8px;
}

.autocomplete {
    margin: 1em 5px 1em 0;
}


@media (max-width: 906px){
    .nav {
        font-size: 12pt;
        >li>a {
            padding: 0;
        }
    }
}

@media (min-width: 0px){
    .nav-justified>li {
        display: table-cell;
        width: 1%;
    }
}

.pac-container {
	z-index: 999999;
}
.customMarker {
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
}
.customMarkerInfo {
  transition: all 0.3s ease-in-out;
    width: 300px;
}
.customMarkerValue{
    transform: translate(-50%, -100%);
    background: #fff;
    border: 3px solid tomato;
    color: #717171;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Merriweather', Georgia, serif;
    position: absolute;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    top: -100%;
    padding:2px 3px;

}