$nav-clr: #160A20;

#viewContent {
    min-height: 70vh;
}

body {
    font-size: 14pt;
}

h1 .panelTitle > a{
    padding-right: 80vw;
}

a {
    color: $nav-clr;
}

img {
    max-width: 100%;
}

#nav-icon {
        min-width: 70px;
        max-width: 100px;
    }

#userInfo {
    float: right;
}

#missionInfo {
    float: right;
}

#updatePhoto {
    text-align: center;
    margin: 5px;
}

.nav {
    font-size: 12pt;
    padding-top: 10px;
    
    span {
    display: block;
    }
}

.autocomplete {
    margin: 1em 5px 1em 0;
}


@media (max-width: 906px){
    .nav {
        font-size: 8pt;
        >li>a {
            padding: 0;
        }
    }
}

@media (min-width: 0px){
    .nav-justified>li {
        display: table-cell;
        width: 1%;
    }
}

.pac-container {
	z-index: 999999;
}
.customMarker {
    transform: translate(-50%, -100%);
}

.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #88b7d5;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 36px;
    margin-left: -36px;
}
