$nav-clr: #160A20;

#viewContent {
    min-height: 70vh;
}

body {
    font-size: 14pt;
}

h1 .panelTitle > a{
    padding-right: 80vw;
}

a {
    color: $nav-clr;
}

img {
    max-width: 100%;
}

#nav-icon {
        min-width: 70px;
        max-width: 100px;
    }

#userInfo {
    float: right;
}

#missionInfo {
    float: right;
}

#updatePhoto {
    text-align: center;
    margin: 5px;
}

.nav {
    font-size: 12pt;
    padding-top: 10px;
    
    span {
    display: block;
    }
}

.autocomplete {
    margin: 1em 5px 1em 0;
}


@media (max-width: 906px){
    .nav {
        font-size: 8pt;
        >li>a {
            padding: 0;
        }
    }
}

@media (min-width: 0px){
    .nav-justified>li {
        display: table-cell;
        width: 1%;
    }
}

.pac-container {
	z-index: 999999;
}
.customMarker {
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.8;
    }
}
.customMarkerInfo {
    width: 300px;
}
.customMarkerValue{
    transform: translate(-50%, -100%);
    background: #fff;
    border: 3px solid tomato;
    color: #717171;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Merriweather', Georgia, serif;
    position: absolute;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    top: -100%;
    padding:2px 3px;
}

